

img{
    width:  100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
    object-fit: cover;
}

.link-style {
    color: black;
    background-color: rgb(226, 211, 211);
    padding: 8px 30px;
    border-radius: 500px;
    width: 50%;
  }
  .link-style:hover {
    background-color: lightgray;
  }