#navbar2 {
  width: 100%;
  background-color: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  left: 0px;
  font-size: 20px;
}
/* a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 50px;
}
a:hover {
  color: red;
} */
.logo2 {
  width: 100px;
  height: 100px;
  margin-right: 90px;
}
.logo2 img {
  height: 80%;
  width: 80%;
  float: left;
}
#home2 {
  display: flex;
  align-content: space-around;
}
.space {
  margin-left: 100px;
}

.space:hover {
  color: burlywood;
}
.search2 {
  padding: 10px;
  width: 250px;
  height: 45px;
  background: white;
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
  border-radius: 10px;
}

.link-style2 {
  color: seashell;
}
/* .search-icon{
  position: absolute;
  top:50%;
  right:16px;
  transform: translate(-50%, -50%); */
/* } */
