* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: table;
  background-attachment: fixed;
  margin: 0;
}

.wrapper {
  width: 100%;
}

#home {
  gap: 100px;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 0;
}

.link-style {
  color: black;
  /* background-color: white; */
  padding: 8px 16px;
  border-radius: 500px;
  width: 10%;
}
.img {
  width: 80px;
}
.link-style:hover {
  background-color: lightgray;
}

li {
  display: flex;
  display: inline;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  transition: 200ms;
}
a:hover {
  /* color: gray; */
  transition: 800ms;
}

#fovarit {
  display: inline;
  padding: 20px;
  float: right;
}
